<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Saints Club</title>
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="115x140" href="assets/img/logo.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/aos.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="fixed-top bg-second text-white px-2 px-md-5 py-3" style="border-bottom-style: solid;border-bottom-color: var(--color-main);">
        <div class="d-flex">
            <div class="col-10 col-md-4"><a class="d-flex align-items-center" href="index.html"><img class="vh-10 me-2" src="assets/img/logo.png"><span class="fw-bold fs-3"><span class="me-1" style="color: var(--color-main);">Saints</span><span>Clubs</span></span></a></div>
            <div class="d-none d-md-flex justify-content-end align-items-center col-8 fw-bold fs-5 text-capitalize"><a class="me-4" href="index.html">Home</a><a class="me-4" href="about.html">about</a><a class="me-4" href="clubs.html">Clubs</a><a class="me-4" href="events.html">Events</a><a class="btn btn-dark btn-md rounded-pill me-4" role="button" href="register.html">Sign Up</a><a class="btn btn-light border border-dark btn-md rounded-pill me-4" role="button" href="login.html">login</a></div>
            <div class="d-flex justify-content-center align-items-center d-md-none col-2">
                <div class="dropdown"><button class="btn p-1" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-align-justify fs-2"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div id="hero" class="hero min-vh-100 row">
        <div class="bounce animated col-md-6">
            <h1>Welcome to<br>NoCode <br>University's <br>Student Portal</h1>
            <p>A space where current students and teachers can learn more about courses and their peers.</p>
            <div class="fs-4 d-flex justify-content-evenly align-items-center"><a class="btn btn-dark btn-md rounded-pill me-4" role="button">Sign Up Now</a><a class="btn btn-light border border-dark btn-md rounded-pill me-4" role="button">login</a></div>
        </div>
        <div class="bounce animated col-md-6"><img src="assets/img/4708ee58-c2fc-4e29-8b5d-18b8b7679a6c.svg"></div>
    </div>
    <div class="bg-cream min-vh-100 py-5">
        <div data-aos="fade-down" class="text-center">
            <h1>NoCode University at a glance</h1>
            <p>As a research university and nonprofit institution, NoCode University is focused on creating educational opportunities for people from many lived experiences.</p>
        </div>
        <div class="row">
            <div data-aos="fade-right" class="col-md-6 text-center"><img src="assets/img/971bd135-8dcd-4262-ad98-735b356e8321.svg"></div>
            <div data-aos="fade-left" class="col-md-6">
                <div class="p-2 mb-4 shadow-sm">
                    <h3 class="fw-bold">2021</h3>
                    <p>Saints Club was established</p>
                </div>
                <div class="p-2 mb-4 shadow-sm">
                    <h3 class="fw-bold">2022</h3>
                    <p>reached 100+ clubs</p>
                </div>
                <div class="p-2 mb-4 shadow-sm">
                    <h3 class="fw-bold">2023</h3>
                    <p>reached 500 students</p>
                </div>
                <div class="p-2 mb-4 shadow-sm">
                    <h3 class="fw-bold">2024</h3>
                    <p>reached 1000 students</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-cream min-vh-100 py-5">
        <div data-aos="fade-down" class="text-center">
            <h1>Clubs</h1>
            <p>Check out our clubs 👇</p>
        </div>
        <div class="row px-2 px-5">
            <div data-aos="fade-right" class="col-sm-6 col-md-4 p-2">
                <div class="bg-white p-2 text-center rounded-4">
                    <div><img src="assets/img/5d49555b-983d-4e13-8c1f-71c03f1ac76c.svg"></div>
                    <div>
                        <h2>Testing Club</h2>
                        <h4>Testing Club</h4>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" class="col-sm-6 col-md-4 p-2">
                <div class="bg-white p-2 text-center rounded-4">
                    <div><img src="assets/img/5d49555b-983d-4e13-8c1f-71c03f1ac76c.svg"></div>
                    <div>
                        <h2>Testing Club</h2>
                        <h4>Testing Club</h4>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" class="col-sm-6 col-md-4 p-2">
                <div class="bg-white p-2 text-center rounded-4">
                    <div><img src="assets/img/5d49555b-983d-4e13-8c1f-71c03f1ac76c.svg"></div>
                    <div>
                        <h2>Testing Club</h2>
                        <h4>Testing Club</h4>
                    </div>
                </div>
            </div>
            <div data-aos="fade" class="col-12 p-2 d-none">
                <div class="bg-white p-4 text-center">
                    <h1>No Clubs Available</h1>
                    <h4>Tell Admin to add come clubs</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary min-vh-100 py-5">
        <div data-aos="fade-down" class="text-center text-white">
            <h1>Events</h1>
            <p>Check out upcoming events 👇</p>
        </div>
        <div class="row px-2 px-5">
            <div data-aos="fade-right" class="col-sm-6 col-md-4 p-2">
                <div class="bg-white p-2 text-center rounded-4">
                    <div><img src="assets/img/5d49555b-983d-4e13-8c1f-71c03f1ac76c.svg"></div>
                    <div>
                        <h2>Testing Club</h2>
                        <h4>Testing Club</h4>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" class="col-sm-6 col-md-4 p-2">
                <div class="bg-white p-2 text-center rounded-4">
                    <div><img src="assets/img/5d49555b-983d-4e13-8c1f-71c03f1ac76c.svg"></div>
                    <div>
                        <h2>Testing Club</h2>
                        <h4>Testing Club</h4>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" class="col-sm-6 col-md-4 p-2">
                <div class="bg-white p-2 text-center rounded-4">
                    <div><img src="assets/img/5d49555b-983d-4e13-8c1f-71c03f1ac76c.svg"></div>
                    <div>
                        <h2>Testing Club</h2>
                        <h4>Testing Club</h4>
                    </div>
                </div>
            </div>
            <div data-aos="fade" class="col-12 p-2 d-none">
                <div class="bg-white p-4 text-center">
                    <h1>No Clubs Available</h1>
                    <h4>Tell Admin to add come clubs</h4>
                </div>
            </div>
        </div>
    </div>
    <footer class="pt-5 p-2 px-md-5 text-center">
        <p class="fw-bold fs-5"><span class="me-1" style="color: var(--color-main);">Saints</span><span class="me-1" style="color: var(--color-main);">Club</span><span class="me-1">@</span><span class="me-1" style="color: var(--color-second);">2024</span></p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>